.main {
    margin-top: 10px;
    width: 980px;
    height: 455px;
    margin-left: 220px;
}

.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 455px;
    overflow: hidden;
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 700%;
}

.focus ul li {
    float: left;
}

.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: 'icomoon';
    font-size: 18px;
    z-index: 2;
    /* ul和a同个层级，都有定位，但是ul在前面，避免按钮被ul压住 */
}

.arrow-r {
    right: 0;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(255, 255, 255, .5);
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
}

.current {
    background-color: #fff;
}

.focus img {
    width: 721px;
    height: 455px;
}

.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}

.newsflash .bargain img {
    width: 250px;
    height: 76px;
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 33px;
    line-height: 33px;
    padding: 0 15px;
    border-bottom: 1px dotted #e4e4e4;
}

.news-hd h5 {
    float: left;
    font-size: 14px;
}

.news-hd .more {
    float: right;
}

.news-hd a {
    float: right;
}

.news-hd a::after {
    content: '\e65c';
    font-family: iconfont;
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    /*强制在一行显示*/
    text-overflow: ellipsis;
    /*省略号显示*/
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    position: relative;
    float: left;
    width: 63px;
    height: 71px;
    text-align: center;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") repeat -17px -15px;
}

.lifeservice ul li span {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 15px;
    line-height: 15px;
    color: #ffffff;
    background-color: #669966;
}

.bargain {
    margin-top: 5px;
}


/*推荐模块recom*/

.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_hd p {
    color: #ccc;
    font-size: 18px;
    padding-top: 10px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li a img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}


/*家用电器模块*/

.floor .w {
    margin-top: 30px;
}

.box_hd {
    height: 30px;
    border-bottom: 2px solid #cc0033;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #cc0033;
    font-weight: 400;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    margin: 0 15px;
}

.box_bd {
    height: 359px;
}

.tab_list_item>div {
    float: left;
}

.col_210 {
    width: 210px;
    height: 359px;
    text-align: center;
    background-color: #f9f9f9;
}

.col_210 ul {
    padding-left: 12px;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    text-align: center;
    line-height: 34px;
    margin-right: 10px;
}

.col_329 {
    width: 329px;
    height: 359px;
}

.col_221 {
    width: 221px;
    height: 359px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
    height: 359px;
}

.bb {
    /*一般情况下a包含有宽度的盒子，a需要转换为块级元素*/
    display: block;
    border-bottom: 1px solid #ccc;
}