.w{
    margin: 0 auto;
    width: 1200px;
}

header{
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.logo{
    padding-top: 18px; /*用margin会有外边距塌陷问题？*/
}
.registerarea{
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3{
    height: 42px;
    line-height: 42px;
    background-color: #ececec;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
}
.login{
    float: right;
    font-size: 14px;
}
.login a{
    color: #c81523;
}
.reg_form{
    width: 600px;
    margin:50px auto 0;
}
.reg_form ul li {
    margin-bottom: 20px;
}
.reg_form ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li .inp{
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.error{
    color: #c81523;
}
.error_icon,.success_icon{
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    background: url("../upload/error_icon.png") no-repeat;
}
.success{
    color: green;
}
.success_icon{
    background: url("../upload/success_icon.png") no-repeat;
}
.safe{
    padding-left: 170px;
}
.safe em{
    padding: 0 12px;
    color: #fff;
}
.ruo{
    background-color: #de1111;
}
.zhong{
    background-color: #40b83f;
}
.qiang{
    background-color: #f79100;
}
.agree{
    padding-left: 95px;
}
.agree input{
    vertical-align: middle;
}
.agree a{
    color: #1ba1e6;
}
.btn{
    width: 200px;
    height: 34px;
    background-color: #c81523;
    font-size: 14px;
    color: #fff;
    margin: 10px 0 0 90px
}
.mod_copyright{
    text-align: center;
    padding-top: 20px;
}
.mod_copyright .links{
    padding-bottom: 15px;
}
.mod_copyright .links a{
    margin: 0 4px;
}
.mod_copyright .copyright{
    line-height: 20px;
}